{% extends 'base.html' %}
{% block title %}Add private section{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'add_priv_section_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'form_container_style.css' %}">

{% endblock %}

{% block above_content %}
    <h1>Tworzenie odcinka własnego</h1>
{% endblock %}

{% block content %}
<div class="form-container">
  <form method="POST">
      {% csrf_token %}
    <div class="row">
        <div class="col-25">
            <label class="label" for="mountain_range">Pasmo górskie</label>
        </div>

        <div class="col-75">
          <select id="mountain_range" required name="select_mountain_range">
            {% for mountain_range in ranges %}
            <option id="{{mountain_range.id}}" name="mountainRangeList" value='{{mountain_range.id}}'>{{mountain_range.name}}</option>
            {% endfor %}
          </select>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
        <label class="label" for="name">Nazwa</label>
        </div>

        <div class="col-75">
            <input type="text" id="name" required name="input_name" placeholder="Wprowadź nazwę trasy">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label class="label" for="length">Długość (w metrach)</label>
        </div>

        <div class="col-75">
            <input type="number" required id="length" name="input_length" min="1">
        </div>

    </div>

    <div class="row">
        <div class="col-25">
            <label class="label" for="elevation-gain">Przewyższenie (w metrach)</label>
        </div>

        <div class="col-75">
            <input type="number" required id="elevation-gain" name="input_elevation_gain">
            <p class="input-info-below">Uwaga, długość i przewyższenie prosimy zaokrąglać w dół do części całkowitej.</p>
        </div>
    </div>

    <div class="row">

        <div class="col-vertical">
            <p class="label">Punkt początkowy</p>
            <p>Jaki rodzaj punktu wprowadzasz?</p>
        </div>

        <div class="radio">
            <div>
                 <input type="radio" id="defined-radio-s-point" name="point_type_s" value="defined_point_s" checked>
                <label for="defined-radio-s-point">Punkt z listy ustalonych punktów</label>
            </div>

            <div>
                <input type="radio" id="private-radio-s-point" name="point_type_s" value="private_point_s">
                <label for="private-radio-s-point">Punkt własny</label>
            </div>

        </div>

        <script>
            document.getElementById("defined-radio-s-point").addEventListener("click", function(){
                document.getElementById('defined-s-point').style.display = 'initial';
                document.getElementById('private-s-point').style.display = 'none';
            }, false);
            document.getElementById("private-radio-s-point").addEventListener("click", function(){
            document.getElementById('private-s-point').style.display = 'initial';
            document.getElementById('defined-s-point').style.display = 'none';
            }, false);
        </script>

        <div id="defined-s-point">
            <div class="row">
                <div class="col-25">
                    <label class="label-right" for="start-point">Punkt</label>
                </div>

                <div class="col-75">
                    <select id="start-point" name="select_start_point">
                        {% for point in points %}
                        <option id="{{point.id}}" name="pointList" value='{{point.id}}'>{{point.name}}&nbsp;{{point.height}}m n.p.m.</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div id="private-s-point" style="display: none;">
            <div class="row">
                 <div class="col-25">
                    <label class="label-right" for="start-point-name">Nazwa</label>
                </div>
                <div class="col-75">
                    <input type="text" id="start-point-name" name="input_s_point_name">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label-right" for="start-point-height">Wysokość n.p.m.</label>
                </div>
                <div class="col-75">
                     <input type="number" id="start-point-height" name="input_s_point_height">
                </div>
            </div>
        </div>
    </div>

      <br>

    <div class="row">

        <div class="col-vertical">
            <p class="label">Punkt końcowy</p>
            <p>Jaki rodzaj punktu wprowadzasz?</p>
        </div>

        <div class="radio">
            <div>
                 <input type="radio" id="defined-radio-e-point" name="point_type_e" value="defined_point_e" checked>
                 <label for="defined-radio-e-point">Punkt z listy ustalonych punktów</label>
            </div>

            <div>
                <input type="radio" id="private-radio-e-point" name="point_type_e" value="private_point_e">
                <label for="private-radio-e-point">Punkt własny</label>
            </div>

        </div>

        <script>
            document.getElementById("defined-radio-e-point").addEventListener("click", function(){
                document.getElementById('defined-e-point').style.display = 'initial';
                document.getElementById('private-e-point').style.display = 'none';
            }, false);
            document.getElementById("private-radio-e-point").addEventListener("click", function(){
            document.getElementById('private-e-point').style.display = 'initial';
            document.getElementById('defined-e-point').style.display = 'none';
            }, false);
        </script>

        <div id="defined-e-point">
            <div class="row">
                <div class="col-25">
                    <label class="label-right" for="end-point">Punkt</label>
                </div>

                <div class="col-75">
                    <select id="end-point" name="select_end_point">
                        {% for point2 in points %}
                        <option id="{{point2.id}}" name="pointList" value='{{point2.id}}'>{{point2.name}}&nbsp;{{point2.height}}m n.p.m.</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div id="private-e-point" style="display: none;">
            <div class="row">
                 <div class="col-25">
                    <label class="label-right" for="end-point-name">Nazwa</label>
                </div>
                <div class="col-75">
                    <input type="text" id="end-point-name" name="input_e_point_name">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label class="label-right" for="end-point-height">Wysokość n.p.m.</label>
                </div>
                <div class="col-75">
                    <input type="number" id="end-point-height" name="input_e_point_height">
                </div>
            </div>
        </div>
    </div>
  <br>
  <div class="row">
    <input type="submit" value="Zatwierdź">
  </div>

  </form>
</div>
{% endblock %}