{% extends 'base.html' %}
{% block title %}Add private section{% endblock %}
{% load static %}
{% block head %}

<link rel=”stylesheet” href="{% static ‘add_priv_section_style.css' %}">
{% endblock %)
{% block content %}
<div class="form-container">
  <form action="/...tu-cos-dodaj" method="POST">
      {% csrf_token %}
    <div class="row">
        <div class="col-25">
            <label for="mountain_range">Pasmo górskie</label>
        </div>

        <div class="col-75">
          <select id="mountain_range" name="select_mountain_range">
            <option value="SUDETY-WSCHODNIE">Sudety Wschodnie</option>
            <option value="SUDETY-ZACHODNIE">Sudety Zachodnie<option>
          </select>
        </div>
    </div>

    <div class="row">
        <div class="col-25">
        <label for="name">Nazwa</label>
        </div>

        <div class="col-75">
            <input type="text" id="name" name="input_name" placeholder="Wprowadź nazwę trasy">
        </div>
    </div>

    <div class="row">
        <div class="col-25">
            <label for="length">Długość (w metrach)</label>
        </div>

        <div class="col-75">
            <input type="number" id="length" name="input_length" min="1">
        </div>

    </div>

    <div class="row">
        <div class="col-25">
            <label for="elevation-gain">Przewyższenie (w metrach)</label>
        </div>

        <div class="col-75">
            <input type="number" id="elevation-gain" name="input_elevation_gain">
            <p>Uwaga, długość i przewyższenie prosimy zaokrąglać w dół do części całkowitej.</p>
        </div>
    </div>

    <div class="row">

        <div class="col-vertical">
            <p>Punkt początkowy</p>
            <p>Jaki rodzaj punktu wprowadzasz?</p>
<!--            <label for="start-point">Punkt początkowy</label>-->
        </div>


        <div class="radio">
            <div>
                 <input type="radio" id="defined-radio" name="point_type" value="defined_point" checked>
                <label for="defined-radio">Punkt z listy ustalonych punktów</label>
            </div>

            <div>
                <input type="radio" id="private-radio" name="point_type" value="private_point">
                <label for="private-radio">Punkt własny</label>
            </div>

        </div>

        <script>
            document.getElementById("defined-radio").addEventListener("click", function(){
                document.getElementById('when-defined').style.display = 'initial';
                document.getElementById('when-private').style.display = 'none';
            }, false);
            document.getElementById("private-radio").addEventListener("click", function(){
            document.getElementById('when-private').style.display = 'initial';
            document.getElementById('when-defined').style.display = 'none';
            }, false);
        </script>

        <div id="when-defined">
            <div class="row">
                <div class="col-25">
                    <label for="starting-point">Punkt</label>
                </div>

                <div class="col-75">
                    <select id="starting-point" name="select_starting_point">
                        <option value="sniezka">Śnieżka 100m npm</option>
                        <option value="wielka-sowa">Wielka sowa</option>
                    </select>
                </div>
            </div>
        </div>

        <div id="when-private" style="display: none;">
            <div class="row">
                 <div class="col-25">
                    <label for="starting-point-name">Nazwa</label>
                </div>
                <div class="col-75">
                    <input type="text" id="starting-point-name" name="input_s_point_name">
                </div>
            </div>

            <div class="row">
                <div class="col-25">
                    <label for="starting-point-name">Wysokość n.p.m.</label>
                </div>
                <div class="col-75">
                    <input type="text" id="starting-point-height" name="input_s_point_height">
                </div>
            </div>
        </div>
    </div>

  <br>
  <div class="row">
    <input type="submit" value="Zatwierdź">
  </div>

  </form>
</div>
{% endblock %}