{% extends 'base.html' %}
{% block title %}Count points{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'form_container_style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'count_points_style.css' %}">
{% endblock %}

{% block above_content %}
    <h1>Podliczenie zdobytych punktów</h1>
{% endblock %}

{% block content %}
    <div class="form-container">
      <form method="POST">
          {% csrf_token %}
          <div class="row">
              <input type="submit" value="Podlicz punkty">
          </div>

        <div class="row">
            <div class="col-60">
                <label class="label" for="points-result-div">Liczba zdobytych przez ciebie puktów wynosi:</label>
            </div>

            <div class="col-40">
              <div id="points-result-div">
                  <p id="points-result-p">{{points}}</p>
              </div>
            </div>
        </div>
      </form>
    </div>
{% endblock %}