.form-container {
  padding-left: 25%;
  padding-right: 20%;
}

input[type=submit], button[type=submit]{
  float: right;
  padding: 5px 15px;
  border: solid;
  border-color: #08a157;
  font-size: 1.1em;
  font-weight: 600;
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover, button[type=submit]:hover{
  background-color: #006e39;
  color: white;
}

h1 {
  text-align: center;
}