.form-container {
    margin-top: 5%;
}

button[type=submit]{
  float: right;
}

.form-group input {
    width: 60%;
    margin-left: 20%;
    margin-top: 10px;
}

main {
    padding: 10px;
    vertical-align: center;
}

.text-danger {
    color: red;
}
